<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>caculatorController</servlet-name>
        <servlet-class>doan.controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaculatorController</servlet-name>
        <servlet-class>doan.controller.CaculatorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CircleSevelet</servlet-name>
        <servlet-class>doan.controller.CircleSevelet</servlet-class>
        <init-param>
            <param-name>dbname</param-name>
            <param-value>shopping</param-value>
        </init-param>
        <init-param>
            <param-name>dbpass</param-name>
            <param-value>123456</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>WellcomeServlet</servlet-name>
        <servlet-class>doan.controller.WellcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>caculatorController</servlet-name>
        <url-pattern>/cal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaculatorController</servlet-name>
        <url-pattern>/CaculatorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CircleSevelet</servlet-name>
        <url-pattern>/circle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WellcomeServlet</servlet-name>
        <url-pattern>/wellcome</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>caculator.jsp</welcome-file>
    </welcome-file-list>
    <init-param/>
    <init-param>
        <param-name>dbpass</param-name>
        <param-value>123456</param-value>
    </init-param>
    <init-param>
        <param-name>dbuser</param-name>
        <param-value>root</param-value>
    </init-param>
</web-app>
